@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins;
}
body {
  background-color: black;
  min-height: 100vh;
  overflow-x: hidden;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;

  background-color: black;
  color: white;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
  cursor: pointer;
}
.nav-txt {
  text-transform: uppercase;
}
.nav-pic {
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 13px;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 10px;
  border-color: white;
}

.nav-menu {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
}
.nav-menu:hover {
  background-color: rgb(23, 22, 22);
  cursor: pointer;
}
.section_1 {
  color: white;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 570px;
}
.section_1_title {
  width: 100%;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
}
.section_1_niche {
  font-size: 1.875rem;
  line-height: 1.3;
  color: white;
  font-weight: 700;

  max-width: 800px;
  text-align: center; /* Optional: centers the text */
  padding-bottom: 60px;
}
.section_1_button {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.section_1_buttons {
  padding: 10px 40px 10px 40px;
}
.section_1_1 {
  color: lightgreen;
}
.section_1_2 {
  color: #79bed4;
}
.section_2 {
  background-color: white;
  padding-top: 30px;
}
.section_2_title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.img {
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.section_2_1 {
  width: 100%;
  max-width: 420px;
  height: 231.06px;
  border-radius: 2px;
  border: 1px solid rgb(224 224 224);
  padding: 20px;
}
.section_2_boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 40px;
}
.section_2_def {
  text-align: center;
  margin-top: 20px;
  font-size: clamp(1rem, 4vw, 1.25rem);
  font-weight: 700;
}
.section_2_content {
  margin-top: 20px;
  font-size: clamp(0.75rem, 2vw, 1rem);
  color: rgb(100, 116, 139);
  max-width: 600px;
  margin: 0 auto;
  color: #4b5563; /* subtle gray text */
  text-align: center;
  line-height: 1.8;
}
.section_4 {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 40px;
}
.section_4_title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.section_4_input {
  width: 247.6px;
  height: 32px;
}
.input_message {
  width: 807px;
  height: 233px;
}
.section_4_three {
  display: flex;
  gap: 20px;
}
.form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.section_4_button {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.section_4_fourth {
  margin-top: 20px;
}
.section_4_send {
  padding: 20px;
}
.section_5 {
  padding-top: 10px;
  background-color: grey;
  display: flex;

  align-items: center;
  justify-content: center;
}
.section_5_icon {
  transform: translateX(562px);
  position: fixed;
  top: 508px;
  cursor: pointer;
}
.fa-brands {
  font-size: 2em;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}
.nav-mero {
  font-weight: 600;
  font-size: 18px;
}
.nav-solutions {
  font-size: 14px;
  font-weight: 300;
}
.one {
  color: black;
  background-color: rgb(220, 200, 200);
  border: none;
  border-radius: 2px;
  font-weight: 600;
  filter: brightness(1);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.one:hover {
  cursor: pointer;
  filter: brightness(1.55);
}

.two {
  background-color: rgb(23, 20, 20);
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: 600;
}
.two:hover {
  cursor: pointer;
}
.tuktuk {
  font-weight: 600;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}
.section_4_send {
  background-color: rgb(52, 58, 64);
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
}
.section_4_send:hover {
  cursor: pointer;
  background-color: rgb(78, 85, 91);
}
.section_4_input {
  padding-left: 10px;
  outline: 1px;
}
.input_message {
  padding: 0px 10px 180px;
}
.section_5_text {
  font-size: clamp(0.75rem, 1vw, 2rem);
}
@media (max-width: 805px) {
  .section_1_button {
    flex-direction: column;
  }
  .input_message {
    width: 100%;
    height: 180px;
  }

  .section_4_three {
    flex-direction: column;
  }

  .section_4_button {
    margin-top: 30px;
  }

  .section_5_icon {
    transform: translateX(0);
    position: fixed;
    right: 20px;
  }
}
@media (max-width: 350px) {
  .section_2_content {
    text-align: left;
  }
}
@media (max-width: 250px) {
  .section_4_input {
    width: 85vw;
    height: 23px;
  }
  .input_message {
    width: 85vw;
    height: 50px;
  }
  .section_4_send {
    padding: 5px 10px 5px 10px;
  }
}
